@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}
body {
  padding: 0.5rem;
  background: hsla(213, 62%, 45%, 1);

  background: linear-gradient(
    270deg,
    hsla(213, 62%, 45%, 1) 0%,
    hsla(203, 89%, 71%, 1) 50%,
    hsla(0, 0%, 96%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(213, 62%, 45%, 1) 0%,
    hsla(203, 89%, 71%, 1) 50%,
    hsla(0, 0%, 96%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(213, 62%, 45%, 1) 0%,
    hsla(203, 89%, 71%, 1) 50%,
    hsla(0, 0%, 96%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2C6CBC", endColorstr="#71C3F7", GradientType=1 );
}
